* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #181818;
  font-size: 1.2rem;
  font-weight: bold;
}

.color1 {
  background-color: #f7a4a4;
}
.color2 {
  background-color: #febe8c;
}
.color3 {
  background-color: #fffbc1;
}
.color4 {
  background-color: #b6e2a1;
}
.color5 {
  background-color: #b8e8fc;
}
